<div class="main-cont">
  <h3 style="color: var(--corail) !important;">RESERVER UN BIEN</h3>
  <br>
  <p><%= @place.name %></p>
  <div class="container-form">
    <%= simple_form_for([@place, @booking]) do |f| %>
    <div class="form-group">
      <%= f.input :date, placeholder: 'jour/mois/année', label:'Vos dates', as: :date%>
      <%= f.input :message, placeholder: 'Message', label:'Votre message' %>
      <%= f.submit "Réserver", class: "btn btn-flat btn-form-rent" %>
    </div>
    <% end %>
  </div>
</div>

