<div class="main-cont">
  <h3>AJOUTER UN BIEN</h3>
  <br>
 <div class="container-form">
   <%= simple_form_for(@place) do |f| %>  <!-- #doit pouvoir add un bien  -->
    <div class="form-group">
      <%= f.input :name, placeholder: 'Chateau de Chambord', label:'Donner un nom à votre lieu' %>
      <%= f.input :address, placeholder: '10 rue des mouettes', label:'Adresse' %>
      <%= f.input :city, placeholder: 'Annecy', label:'Ville' %>
      <%= f.input :options, label: 'Catégorie', collection: ['habitation', 'exterieur', 'industriel', 'culturel'], input_html: { class: 'categorie' } %>
      <%= f.input :description, placeholder: 'Décriver votre lieu et ses usages possibles', label:'Description' %>
      <%= f.input :options, label: 'Options', collection: ['Restauration', 'Electricité', 'Autorisations', 'Ménage', 'Fumeur', 'Wifi', 'Piscine', 'WC', 'Accessibilité', 'Matériel Audiovisuel', 'Meublé'], input_html: { class: 'choices' } %>
      <%= f.input :price, placeholder: 'Indiquer votre prix à la journée', label:'Prix' %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>

      <%= f.submit "Enregistrer", class: "btn btn-flat btn-form"  %>

      <!--<%= link_to "Ajouter", class: "btn btn-flat btn-form"  %> -->

    </div>
  </div>
  <% end %>
</div>
