<div class="main-cont">
  <h3>AJOUTER UN BIEN</h3>
 <div class="container-form">
   <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
       <%= f.input :name, placeholder: 'Chateau de Chambord', label:'Nom de votre lieu' %>
        <%= f.input :address, placeholder: '10 rue des mouettes', label:'Adresse' %>
         <%= f.input :city, placeholder: 'Annecy', label:'Ville' %>
            <%= f.input :description, placeholder: 'Votre description', label:'Description' %>
             <%= f.input :options, label:'Options' %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= link_to "Rechercher", "#", class: "btn btn-flat" %>
    </div>
  </div>
  <% end %>
</div>
