<div class="main-cont">
  <h3>AJOUTER UN BIEN</h3>
  <br>
 <div class="container-form">
   <%= simple_form_for(@place) do |f| %>  <!-- #doit pouvoir add un bien  -->
    <div class="form-group">
      <%= f.input :name, placeholder: 'Chateau de Chambord', label:'Donner un nom à votre lieu' %>
      <%= f.input :address, placeholder: '10 rue des mouettes', label:'Adresse' %>
      <%= f.input :city, placeholder: 'Annecy', label:'Ville' %>
      <%= f.input :description, placeholder: 'Décriver votre lieu et ses usages possibles', label:'Description' %>
      <%= f.input :options, label:'Options' %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Enregistrer", class: "btn btn-flat btn-form"  %>
    </div>
  </div>
  <% end %>
</div>
