<div class="show-container">

  <div class="place-container-pics">

    <div class="row">

    </div>

   <div class="gallery" id="gallery">
      <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
      </div>

      <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
      </div>

      <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
      </div>

      <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
      </div>

      <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
      </div>

      <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
      </div>

    </div>

  </div>

  <div class="place-container-infos">

    <div class="place-infos">
      <h1><%= @place.name %></h1>
      <p><b>Ville : <%= @place.city  %></b></p>
      <p><b>Catégorie : <%= @place.category  %></b></p>
      <p><b>Addresse :  <%= @place.address  %></b></p>
      <p><b>Description :  <%= @place.description  %></b></p>
      <h3><%= @place.price %>€/jour</h3>

      <div class="btnandprice">
        <%= link_to "Reserver", bookings_new_path, class: "btn-rent" %>

      </div>
    </div>

    <div class="place-options">
      <h2>Options :</h2>
      <% @place.options.each do |option| %>
        <ul>
        <li class="liopts"><i class="fas fa-cog"></i> <b><%=  option %></b></li>
        </ul>
      <% end %>
    </div>

  </div>

  <div class="map-container" style="margin-bottom: 2em;">
 </div>
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
